.centerWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centerWrapper h3 {
  margin-left: auto;
  margin-right: auto;
}

.centerWrapper img {
  margin-left: auto;
  margin-right: auto;
}

.defaultWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.shipSelection {
  margin-right: 8px;
  /* background-color: #7171ff; */
  padding-top: 10px;
}

/* animations */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

/* end animations */

.manipulateTitle {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.manipulateShipPanel {
  width: 120px;
  height: 160px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.manipulateShipPanel div:not(:first-child) {
  font-size: 23px;
}

.startGameBtn {
  background-color: #c8d1ff;
  width: 100%;
  height: 30px;
  font-size: 22px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.abs {
  position: absolute
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}